
## <summary>policy for eros</summary>


########################################
## <summary>
##	Transition to eros.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`eros_domtrans',`
	gen_require(`
		type eros_t, eros_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, eros_exec_t, eros_t)
')


########################################
## <summary>
##	Execute eros server in the eros domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eros_initrc_domtrans',`
	gen_require(`
		type eros_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, eros_initrc_exec_t)
')


########################################
## <summary>
##	Search eros lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eros_search_lib',`
	gen_require(`
		type eros_var_lib_t;
	')

	allow $1 eros_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read eros lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eros_read_lib_files',`
	gen_require(`
		type eros_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, eros_var_lib_t, eros_var_lib_t)
')

########################################
## <summary>
##	Manage eros lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eros_manage_lib_files',`
	gen_require(`
		type eros_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, eros_var_lib_t, eros_var_lib_t)
')

########################################
## <summary>
##	Manage eros lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eros_manage_lib_dirs',`
	gen_require(`
		type eros_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, eros_var_lib_t, eros_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a eros environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`eros_admin',`
	gen_require(`
		type eros_t;
		type eros_initrc_exec_t;
		type eros_var_lib_t;
	')

	allow $1 eros_t:process { ptrace signal_perms };
	ps_process_pattern($1, eros_t)

	eros_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 eros_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, eros_var_lib_t)

')

