# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=EROS Core
Comment=EROS Core QT test network
GenericName=EROS Digital Currency QT client testnet network
Exec=eros-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/eros_testnet.png
MimeType=x-scheme-handler/ers;
Categories=X-Office;X-Finance;
Keywords=internet;eros;zers;ters;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
